
@{
    ViewBag.Title = "Connexion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="main-bg">       
        <!-- content -->
        <div class="sub-main-w3">
            <div class="bg-content-w3pvt">
                <div class="top-content-style">
                </div>
                <form action="#" method="post">
                    <p class="legend">Connectez-vous<span class="fa fa-hand-o-down"></span></p>
                    <div class="input">
                        <input type="text" placeholder="Login" name="login" required />
                        <span class="fa fa-user"></span>
                    </div>
                    <div class="input">
                        <input type="password" placeholder="Password" name="password" required />
                        <span class="fa fa-unlock"></span>
                    </div>
                    <button type="submit" class="btn submit">
                        <span class="fa fa-sign-in"></span>
                    </button>
                </form>
                <a href="#" class="bottom-text-w3ls">Mot de passe oublié ?</a>
            </div>
        </div>
    </div>

